.grid {
  display: grid;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: repeat(12, 88px);
  grid-auto-rows: 88px;
  gap: 8px;
}

@media only screen and (max-width: 1160px) {
  .grid {
    grid-template-columns: repeat(12, 66px);
    grid-auto-rows: 66px;
    gap: 6px;
  }
}

@media only screen and (max-width: 870px) {
  .grid {
    grid-template-columns: repeat(12, 55px);
    grid-auto-rows: 55px;
    gap: 5px;
  }
}

@media only screen and (max-width: 725px) {
  .grid {
    grid-template-columns: repeat(12, 44px);
    grid-auto-rows: 44px;
    gap: 4px;
  }
}

@media only screen and (max-width: 580px) {
  .grid {
    grid-template-columns: repeat(12, 33px);
    grid-auto-rows: 33px;
    gap: 3px;
  }
}

@media only screen and (max-width: 435px) {
  .grid {
    grid-template-columns: repeat(12, 22px);
    grid-auto-rows: 22px;
    gap: 2px;
  }
}
