.projectContent {
  max-width: 50ch;
  margin-block: 1lh;
  margin-inline: auto;

  >* {
    margin-block: 1lh;

    &:first-child { margin-block-start: 0; }
    &:last-child { margin-block-end: 0; }
  }

  a {
    text-decoration: underline;

    &:hover {
      color: var(--highlight);
    }
  }
}

/* .projectContent {
  margin: 0 auto;
  max-width: 580px;
  font-size: 14pt;
  line-height: 1.3;

  iframe {
    width: 100%;
  }

  >* {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  blockquote {
    border-left: 4px solid var(--foreground);
    padding-left: 20px;
  }
} */
