.projectHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  line-height: 0.9;

  .contentAboveTitle {
    width: 100%;
    order: -1;
    margin-bottom: 25px;

    >* {
      width: 100%;
    }
  }

  h2, .date, ul {
    margin: 0 auto;
    max-width: 560px;
    text-align: center;
  }

  h2 {
    font-size: 36pt;
    font-weight: 700;
  }

  .date {
    font-size: 16pt;
    margin-top: 12px;
    margin-bottom: 14px;
  }

  ul {
    display: flex;
    flex-direction: row;
    gap: 5px;
    li {
      a:hover svg {
        fill: var(--highlight);
      }
    }
  }
}
