.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 8px;
  margin-left: auto;
  margin-right: auto;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
  border-radius: 1px;

  &.huge { grid-column-end: span 4; }
  &.big { grid-column-end: span 3; }
  &.medium { grid-column-end: span 2; }
  &.small { grid-column-end: span 2; }
  &.tiny { grid-column-end: span 1; }

  &.huge a img:hover { transform: scale(102.25%); }
  &.big a img:hover {  transform: scale(104%); }
  &.medium a img:hover { transform: scale(105%); }
  &.small a img:hover { transform: scale(105%); }
  &.tiny a img:hover { transform: scale(112%); }

  a {
    display: block;
    background: #1a1a1a;
    animation: cellBackground 1s linear infinite;
    width: 100%;
    height: auto;
  }

  img {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: transform 0.1s;
    line-height: 1;

    &.pixelated {
      image-rendering: pixelated;
    }
  }
}

@keyframes cellBackground {
  0% { background: #1a1a1a; }
  25% { background: #1a1a1a; }
  50% { background: #181818; }
  75% { background: #1a1a1a; }
  100% { background: #1a1a1a; }
}

@media only screen and (max-width: 926px) {
  .grid {
    gap: 6px;
  }
}

@media only screen and (max-width: 782px) {
  .cell {
    &.huge { grid-column-end: span 6; }
    &.big { grid-column-end: span 4; }
    &.medium { grid-column-end: span 4; }
    &.small { grid-column-end: span 3; }
    &.tiny { grid-column-end: span 2; }

    &.huge a img:hover { transform: scale(102.25%); }
    &.big a img:hover {  transform: scale(104%); }
    &.medium a img:hover { transform: scale(104%); }
    &.small a img:hover { transform: scale(106%); }
    &.tiny a img:hover { transform: scale(108%); }
  }
}

@media only screen and (max-width: 528px) {
  .cell {
    &.huge { grid-column-end: span 12; }
    &.big { grid-column-end: span 6; }
    &.medium { grid-column-end: span 6; }
    &.small { grid-column-end: span 3; }
    &.tiny { grid-column-end: span 3; }

    &.huge a img:hover { transform: scale(102%); }
    &.big a img:hover {  transform: scale(104%); }
    &.medium a img:hover { transform: scale(104%); }
    &.small a img:hover { transform: scale(108%); }
    &.tiny a img:hover { transform: scale(108%); }
  }
}
