.projectContent {
  margin: 0 auto;
  max-width: 560px;
  line-height: 1.25;
  /* margin-left: 50px; */
  /* margin-right: 50px; */

  p, img {
    margin-top: 9px;
    margin-bottom: 9px;
  }

  img {
    width: 100%;
    height: auto;
    /* padding-left: 50px; */
    /* padding-right: 50px; */
  }
}
