.projectContent {
  margin: 0 auto;
  max-width: 580px;
  font-size: 14pt;
  line-height: 1.3;

  iframe {
    width: 100%;
  }

  p, img, iframe {
    margin-top: 11px;
    margin-bottom: 11px;
  }

  a {
    text-decoration: underline;

    &:hover {
      color: var(--highlight);
    }
  }

  blockquote {
    border-left: 4px solid var(--foreground);
    padding-left: 20px;
  }
}
