.projectHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;

  .contentAboveTitle {
    width: 100%;
    order: -1;
    margin-bottom: 10px;

    >* {
      width: 100%;
    }
  }

  h2, .date, ul {
    margin: 0 auto;
    max-width: 560px;
    text-align: center;
  }

  h2 {
    font-size: 32pt;
    font-weight: 700;
  }

  .date {
    font-size: 14pt;
    margin-top: 2px;
    margin-bottom: 5px;
  }

  ul {
    display: flex;
    flex-direction: row;
    gap: 5px;
    li {
      a:hover svg {
        fill: var(--highlight);
      }
    }
  }
}
