.siteHeader {
  font-family: var(--heading-font);

  div {
    ul {
      display: flex;
      flex-direction: row;
      gap: 0.25em;

      li {
        a {
          &:hover {
            fill: var(--highlight);
          }
        }
      }
    }
  }

  &.full {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1;
    margin-block: 1lh;

    h1 {
      font-size: 4rem;
      font-weight: 700;
    }

    div {
      display: flex;
      flex-direction: row;
      gap: 0.25em;
      font-size: 1.5rem;
      font-weight: 400;
    }
  }

  &.compact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.375rem;
    margin-block: 0.5lh;

    h1 {
      font-weight: 600;

      &:hover {
        color: var(--highlight);
      }
    }

    div {
      display: flex;
      flex-direction: row;
      align-items: center;
      
      ul li a {
        display: flex;
      }
    }
  }
}

@media only screen and (max-width: 926px) {
  .siteHeader.full {
    h1 {
      font-size: 3rem;
    }

    div {
      font-size: 1.375rem;
    }
  }
}


@media only screen and (max-width: 395px) {
  .siteHeader.full {
    h1 {
      font-size: 2.375rem;
    }

    div {
      font-size: 1.25rem;
    }
  }
}
