.gridCell {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: #1a1a1a;
  animation: gridCellBackground 1s linear infinite;
  transition: transform 0.1s;
  border-radius: 1px;
  grid-column-end: span 4;

  &:hover {
    transform: scale(102.5%);
  }

  a, img {
    width: 100%;
    height: 100%;
  }
}

@keyframes gridCellBackground {
  0% { background: #1a1a1a; }
  20% { background: #1a1a1a; }
  50% { background: #151515; }
  80% { background: #1a1a1a; }
  100% { background: #1a1a1a; }
}

@media only screen and (max-width: 435px) {
  .gridCell {
    grid-column-end: span 12;
  }
}

.pixelated {
  image-rendering: pixelated;
}
