.layout {
  max-width: 1141px; /* calc(3 * 750px / 2 + 2 * 8px) */
  margin-block-start: 10px;
  margin-block-end: 40px;
  margin-inline: auto;
  /* outline: 1px solid red; */
}

@media only screen and (max-width: 1161px) {
  .layout {
    max-width: 916px; /* calc(3 * 750px / 2.5 + 2 * 8px); */
    /* outline: 1px solid orange; */
  }
}

@media only screen and (max-width: 926px) {
  .layout {
    max-width: 762px; /* calc(3 * 750px / 3 + 2 * 6px); */
    /* outline: 1px solid yellow; */
  }
}

@media only screen and (max-width: 782px) {
  .layout {
    max-width: 606px; /* calc(2 * 750px / 2.5 + 6px); */
    /* outline: 1px solid green; */
  }
}

@media only screen and (max-width: 626px) {
  .layout {
    max-width: 508px; /* calc(2 * 750px / 3 + 8px); */
    /* outline: 1px solid blue; */
  }
}

@media only screen and (max-width: 528px) {
  .layout {
    max-width: 375px; /* calc(750px / 2); */
    /* outline: 1px solid purple; */
  }
}

@media only screen and (max-width: 395px) {
  .layout {
    margin-inline: 10px;
  }
}
