.page {
  max-width: 1144px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 1160px) {
  .page {
    max-width: 858px;
  }
}

@media only screen and (max-width: 870px) {
  .page {
    max-width: 715px;
  }
}

@media only screen and (max-width: 725px) {
  .page {
    max-width: 572px;
  }
}

@media only screen and (max-width: 580px) {
  .page {
    max-width: 429px;
  }
}

@media only screen and (max-width: 435px) {
  .page {
    max-width: 286px;
  }
}
