.page {
  margin-block-end: 3lh;

  p {
    max-width: 508px;
    margin-inline: auto;
    margin-block-end: 1lh;

    a {
      text-decoration: underline;

      &:hover {
        color: var(--highlight);
      }
    }
  }
}
