/* Structure */
.page {
  max-width: 1144px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;

  header {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.grid {
  margin-top: 8px;
  margin-bottom: 8px;
}

@media only screen and (max-width: 1160px) {
  .page {
    max-width: 858px;
  }

  .grid {
    margin-top: 6px;
    margin-bottom: 6px;
  }
}

@media only screen and (max-width: 870px) {
  .page {
    max-width: 715px;
  }

  .grid {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

@media only screen and (max-width: 725px) {
  .page {
    max-width: 572px;
  }

  .grid {
    margin-top: 4px;
    margin-bottom: 4px;
  }
}

@media only screen and (max-width: 580px) {
  .page {
    max-width: 429px;
  }

  .grid {
    margin-top: 3px;
    margin-bottom: 3px;
  }
}

@media only screen and (max-width: 435px) {
  .page {
    max-width: 286px;
  }

  .grid {
    margin-top: 2px;
    margin-bottom: 2px;
  }
}


/* Fonts */
.page {
  header {
    h1 {
      font-size: 50pt;
      font-weight: 700;
    }

    p {
      font-size: 18pt;
    }
  }
}
