.page {
  margin-block-end: 3lh;

  p {
    max-width: 508px;
    margin-inline: auto;
    margin-block: 2lh;
    padding: 2em;
    border: 2px solid var(--highlight);

    a {
      text-decoration: underline;

      &:hover {
        color: var(--highlight);
      }
    }
  }
}
