.layout {
  max-width: 1144px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 30px;

    h1 {
      font-size: 20pt;
      font-weight: 700;
    }

    ul {
      display: flex;
      flex-direction: row;
      gap: 5px;

      li {
        a:hover svg {
          fill: var(--highlight);
        }
      }
    }
  }

  main {
    max-width: 858px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 1160px) {
  .layout {
    max-width: 858px;

    main {
      max-width: 715px;
    }
  }
}

@media only screen and (max-width: 870px) {
  .layout {
    max-width: 715px;
  }
}

@media only screen and (max-width: 725px) {
  .layout {
    max-width: 572px;
  }
}

@media only screen and (max-width: 580px) {
  .layout {
    max-width: 429px;
  }
}

@media only screen and (max-width: 435px) {
  .layout {
    max-width: 286px;
  }
}
