.layout {
  max-width: 1144px;
  margin-left: auto;
  margin-right: auto;

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px 0 30px 0;

    h1 {
      font-size: 20pt;
      font-weight: 700;
    }

    ul {
      display: flex;
      flex-direction: row;
      gap: 5px;

      li {
        a:hover svg {
          fill: var(--highlight);
        }
      }
    }
  }

  main {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  .backLink {
    margin-top: 20px;
    color: var(--highlight);
    text-align: center;
  }

  margin-bottom: 40px;
}
