/* .layout {
  max-width: 1144px;
  margin: 15px auto 40px auto;

  main {
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
  }

  .backLink {
    margin-top: 20px;
    color: var(--highlight);
    text-align: center;

    &:hover {
      text-decoration: underline;
    }
  }
} */
